<p>
  <b>Name:</b>
  <%=h @users.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @users.email %>
</p>

<p>
  <b>Login:</b>
  <%=h @users.login %>
</p>


<%= link_to 'Edit', edit_user_path(@users) %> |
<%= link_to 'Back', users_path %>
