<%content_for :sidebar do%>
  <%= render :partial=>'sidebars/notices'%>
<%end%>

<h1>Integration Notices</h1>
<p>
<table>
  <tr>
    <th>#</th>
    <th>Subject</th>
    <th>Description</th>
    <th>User</th>
    <th>Project</th>
  </tr>

  <% for notice in @notices %>
    <tr>
      <td><%= link_to notice.id, notice %></td>
      <td><%=h notice.subject %></td>
      <td><%=h notice.description %></td>
      <td><%=h notice.user.name %></td>
      <td><%=h notice.project.name %></td>

    </tr>
  <% end %>
</table>
<% form_for(:project) do |f| %>
  <%  f.hidden_field :id %>
<%end%>