<p>
  <b>Subject:</b>
  <%=h @notice.subject %>
</p>

<p>
  <b>Description:</b>
  <%=h @notice.description %>
</p>

<p>
  <b>User:</b>
  <%=h @notice.user.name %>
</p>

<p>
  <b>Project:</b>
  <%=h @notice.project.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @notice.category.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @notice.status.name %>
</p>

<p>
  <b>Impact:</b>
  <%=h @notice.impact.name %>
</p>

<p>
  <b>release:</b>
  <%=h @notice.release.name %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
