<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Display name</th>
    <th>Discription</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.display_name %></td>
    <td><%=h project.description %></td>
    <td><%=h project.created_at %></td>
    <td><%=h project.updated_at %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
