<%content_for :sidebar do%>
  <%= render :partial=>'sidebars/projects'%>
  <% @project %>
<%end%>

<p style="color: green"><%= flash[:notice] %></p>
<% form_for(@project) do |f| %>
<p>
  <b>Name:</b>
  <%=h @project.name %>
  <%= f.hidden_field :id %>
</p>

<p>
  <b>Display name:</b>
  <%=h @project.display_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Created at:</b>
  <%=h @project.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @project.updated_at %>
</p>
<%end%>